In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_rel

In [2]:
# Assuming the machine.txt file is located in the "files_for_lab" directory
packing_data = pd.read_csv('machine_new.txt', sep='\t')
packing_data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [3]:
pokemon_data = pd.read_csv('pokemon.csv')
pokemon_data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
import scipy.stats as stats

# Assuming the first column is the times for the current machine and the second column is for the new machine
t_statistic, p_value = stats.ttest_rel(packing_data.iloc[:, 0], packing_data.iloc[:, 1])

# One-tailed test, so we divide the p-value by 2
one_tailed_p_value = p_value / 2

# Setting the significance level (alpha) for the test
alpha = 0.05

# Check if the one-tailed p-value is less than alpha
if one_tailed_p_value < alpha:
    print("There is sufficient evidence to show that the new machine packs faster than the current machine.")
else:
    print("There is not enough evidence to show that the new machine packs faster than the current machine.")

There is sufficient evidence to show that the new machine packs faster than the current machine.

In [5]:
# Assuming 'Defense' and 'Attack' are the columns containing the defense and attack scores, respectively.
defense_scores = pokemon_data['Defense']
attack_scores = pokemon_data['Attack']

# Perform the paired t-test (matched pairs test) for the defense and attack scores
t_stat_paired, p_value_paired = ttest_rel(defense_scores, attack_scores)

# Check the p-value against the significance level (e.g., 0.05) to determine if there is a statistically significant difference between the scores.
if p_value_paired < 0.05:
    print("There is a statistically significant difference between the defense and attack scores.")
else:
    print("There is no statistically significant difference between the defense and attack scores.")

There is a statistically significant difference between the defense and attack scores.

In [6]:
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [7]:
data = pd.read_excel('anova_lab_data.xlsx')
# Display the first few rows of the data to check its structure
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [8]:
alpha = 0.05

In [9]:
# Calculate the Degrees of Freedom
num_groups = len(data['Power '].unique())
num_observations = len(data)
DFtotal = num_observations - 1
DFmodel = num_groups - 1
DFerror = DFtotal - DFmodel

In [10]:
# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(*[data[data['Power '] == power]['Etching Rate'] for power in data['Power '].unique()])

In [11]:
# Find the critical value
critical_value = stats.f.ppf(1 - alpha, DFmodel, DFerror)

In [12]:
if p_value < alpha:
    print("Reject the null hypothesis. Changing the power of the plasma beam has a significant effect on the mean etching rate.")
else:
    print("Fail to reject the null hypothesis. There is no significant effect of changing the power on the mean etching rate.")

Reject the null hypothesis. Changing the power of the plasma beam has a significant effect on the mean etching rate.

In [17]:
from scipy.stats import f_oneway
# Assuming the data has columns 'Power' and 'Etching_Rate'
# Use one-way ANOVA to test for differences in means among different power levels
result = f_oneway(*[data[data['Power '] == level]['Etching Rate'] for level in data['Power '].unique()])

# Extract the test statistic and p-value from the result
f_statistic = result.statistic
p_value = result.pvalue

print("F-Statistic:", f_statistic)
print("P-Value:", p_value)

F-Statistic: 36.87895470100505
P-Value: 7.506584272358903e-06